button {
    width: 125px;
    height: 60px;
    font-size: 1.25em;
}
/*System/program on is for when the text displays "on"*/
.programon {
    background-color: #BBDDFF;
    
}
.programoff {
    background-color: #BBF3FF;
    
}
.systemoff {
    background-color: #BFFFCA;
    
}
.systemon {
    background-color: #FCFF90;
    
}

.programon, .programoff, .systemon, .systemoff {
	outline:none;
	color: #707070;

}
.fix-bars {
    font-size: 22px;
    padding: 19px;
}
.striped div {
    padding: 4px;
}
.striped :nth-child(2n+4) {
    background-color: #F8F8F8 !important;
    color: black !important;
}
