/* CSS Document */
body{
    background-image: url(https://gt3ch1.tk/img/w8.jpg);
    display: block;
    color: white;
    background-size: cover!important;

}
#data{
    max-width: 1200px;

}
.label{
    float: left!important;
}
button{
    float:right!important;
}